<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
 <rewrite>
            <rules>
                <remove name="fsmtest" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:1545/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
